* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
html {
    font-family: "Lucida Sans", sans-serif;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

.col-3 {
    background-color: beige;
    height: 500px;
}

#layout a{
    padding:0;
    margin:0;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: black;
    color: white;
}

#layout a:hover {
    background-color: gray;
}

.col-3 {
    text-align: center;
}
.ads {
    border: 1px solid black;
    height: 70px;
    margin-top: 10px;
    text-align: center;
}

#footer {
    text-align: center;
    background-color: black;
    color: white;
    height: 50px
}